body{
    font-family: sans-serif;
    background-color: #ffffff;
  }
  
  h1{
    color: hsl(350, 100%, 84%);
    text-align: center;
  }
  
  h2{
    color: #b9e5fa;
    text-align: center;
  }
  
  